// screen sizes
@mixin screen-lg {
  @media (max-width: 1505px) {
    @content;
  }
}

@mixin screen-md {
  @media (max-width: 1066px) {
    @content;
  }
}

@mixin screen-sm {
  @media (max-width: 300px) {
    @content;
  }
}

@mixin screen-xs {
  @media (max-width: 300px) {
    @content;
  }
}
