.action-panel__wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(18px);
  padding: 18px 40px;
  border-radius: 10px;

  button {
    background-color: transparent;
    border: 2px solid #707070;
    border-radius: 20px;
    color: #707070;
    font-family: Segoe UI;
    font-weight: bold;
    font-size: 30px;
    margin: 0 7px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover,
    &.active {
      color: white;
      border-color: white;
    }
  }
}
